.container {
  position: relative;
  background-color: black;
  height: 500px;
  width: 500px;
}
.box-1 {
  width: 140px;
  height: 50px;
  background-color: rgb(22, 9, 110);
  position: absolute;
}
.box-2 {
  width: 160px;
  height: 50px;
  left: 140px;
  background-color: rgb(146, 86, 8);
  margin-left: 10px;
  position: absolute;
}
.box-3 {
  width: 120px;
  height: 50px;
  left: 310px;
  margin-left: 10px;
  background-color: rgb(145, 222, 135);
  position: absolute;
}
.box-4 {
  width: 50px;
  height: 385px;
  left: 440px;
  margin-left: 10px;
  background-color: rgb(215, 237, 250);
  position: absolute;
}
.box-5 {
  width: 50px;
  height: 100px;
  top: 50px;
  background-color: rgb(250, 215, 241);
  margin-top: 10px;
  position: absolute;
}
.box-6 {
  width: 50px;
  height: 210px;
  top: 160px;
  margin-top: 10px;
  background-color: rgb(14, 80, 139);
  position: absolute;
}
.box-7 {
  width: 50px;
  height: 110px;
  top: 380px;
  margin-top: 10px;
  background-color: rgb(139, 222, 135);
  position: absolute;
}
.box-8 {
  background-color: red;
  width: 250px;
  height: 250px;
  left: 50px;
  top: 50px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}
.box-9 {
  width: 120px;
  height: 120px;
  left: 310px;
  margin-left: 10px;
  top: 50px;
  margin-top: 10px;
  background-color: burlywood;
  position: absolute;
}
.box-10 {
  width: 55px;
  height: 120px;
  top: 180px;
  margin-top: 10px;
  left: 310px;
  margin-left: 10px;
  background-color: rgb(3, 44, 79);
  position: absolute;
}
.box-11 {
  width: 55px;
  height: 120px;
  top: 180px;
  margin-top: 10px;
  left: 375px;
  margin-left: 10px;
  background-color: white;
  position: absolute;
}
.box-12 {
  width: 125px;
  height: 115px;
  left: 50px;
  margin-left: 10px;
  top: 310px;
  margin-top: 10px;
  background-color: rgb(104, 15, 15);
  position: absolute;
}
.box-13 {
  width: 115px;
  height: 65px;
  left: 185px;
  margin-left: 10px;
  top: 310px;
  margin-top: 10px;
  background-color: gray;
  position: absolute;
}
.box-14 {
  background-color: aliceblue;
  width: 115px;
  height: 40px;
  top: 385px;
  margin-top: 10px;
  left: 185px;
  margin-left: 10px;
  position: absolute;
}
.box-15 {
  background-color: orangered;
  width: 120px;
  height: 65px;
  top: 310px;
  margin-top: 10px;
  left: 310px;
  margin-left: 10px;
  position: absolute;
}
.box-16 {
  background-color: green;
  width: 125px;
  height: 55px;
  top: 435px;
  margin-top: 10px;
  left: 50px;
  margin-left: 10px;
  position: absolute;
}
.box-17 {
  width: 115px;
  height: 35px;
  top: 435px;
  margin-top: 10px;
  left: 185px;
  margin-left: 10px;
  background-color: aqua;
  position: absolute;
}
.box-18 {
  width: 120px;
  height: 85px;
  top: 385px;
  margin-top: 10px;
  left: 310px;
  margin-left: 10px;
  background-color: blue;
  position: absolute;
}

.box-19 {
  background-color: chartreuse;
  width: 245px;
  height: 10px;
  top: 485px;
  margin-top: 5px;
  left: 185px;
  margin-left: 10px;
  position: absolute;
}
.box-20 {
  width: 50px;
  height: 105px;
  top: 385px;
  margin-top: 10px;
  left: 440px;
  margin-left: 10px;
  background-color: red;
  position: absolute;
}
